    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td width="100" bgcolor="#FFFFCC">&nbsp;</td>
        <td width="5" bgcolor="#FFFFCC">&nbsp;</td>
        <td width="5" bgcolor="#FFFFFF">&nbsp;</td>
        <td width="100%" bgcolor="#FFFFFF">&nbsp;</td>
      </tr>
      <tr>
        <td width="100" bgcolor="#FFFFCC" valign="top">
      <div align="left">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td><font size="2" face="Arial"><b><a href="_ABOUT_">About</a></b></font></td>
          </tr>
          <tr>
            <td><font face="Arial" size="2"><b><a href="_INSTALL_">Installation</a></b></font></td>
          </tr>
          <tr>
            <td><font face="Arial" size="2"><b><a href="_TUTORIALS_">Tutorials</a></b></font></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF"><font face="Arial" size="2"><b><a href="_DOCUMENTATION_">Documentation</a></b></font></td>
          </tr>
          <tr>
            <td>
              <div align="right">
                <table border="0" cellpadding="0" cellspacing="0" width="95%">
                  <tr>
                    <td width="100%" bgcolor="#FFFFFF"><font size="1">
                      <img border="0" src="_ROOT_images/docume9.gif" width="8" height="8"><a href="_MITGCM_">1.1 Introduction</a><br> <!-- MITgcm in action -->
                      <img border="0" src="_ROOT_images/docume10.gif" width="8" height="8"><a href="_CONTINUOUS_">1.3 Continuous equations in `r' coordinates</a><br> <!-- Continuous formulation -->
                      <img border="0" src="_ROOT_images/docume11.gif" width="8" height="8"><a href="_NUMERICAL_">2. Discretization and Algorithm</a><br> <!-- Numerical algorithm -->
                      <img border="0" src="_ROOT_images/docume12.gif" width="8" height="8"><a href="_SOFTWARE_">4. Software Architecture</a><br> <!-- Software architecture -->
                      <img border="0" src="_ROOT_images/docume13.gif" width="8" height="8"><a href="_AUTOMATIC_">5. Automatic Differentiation</a><br> <!-- Automatic differentiation -->
                      <img border="0" src="_ROOT_images/docume14.gif" width="8" height="8"><a href="_OPTIONAL_">6. Physical Parameterization and Packages</a><br> <!-- Optional packages -->
                      <img border="0" src="_ROOT_images/docume15.gif" width="8" height="8"><a href="_DIAGNOSTICS_">7. Diagnostics and tools</a><br> <!-- Diagnostics -->
                      <img border="0" src="_ROOT_images/docume16.gif" width="8" height="8"><a href="_INTERFACE_">8. Interface with ECCO</a></font></td> <!-- Interface to ECCO -->
                  </tr>
                </table>
              </div>
            </td>
          </tr>
          <tr>
            <td><font face="Arial" size="2"><b><a href="_BROWSE_">Browse Code</a></b></font></td>
          </tr>
          <tr>
            <td>&nbsp</td>
          </tr>
          <tr>
          <tr>
            <td><font face="Arial" size="1"><b><a href="manual.pdf">PDF file (9Mb)</a></b></font></td>
          </tr>
          <tr>
          <tr>
            <td><font face="Arial" size="1"><b><a href="manual.ps.gz">PS file (7Mb)</a></b></font></td>
          </tr>
          <tr>
          <tr>
            <td><img border="0" src="_ROOT_images/cellsizer.gif" width="100" height="1"></td>
          </tr>
        </table>
      </div>
        </td>
        <td width="5" bgcolor="#FFFFCC" valign="top">&nbsp;</td>
        <td width="5" bgcolor="#FFFFFF" valign="top">&nbsp;</td>
        <td width="100%" bgcolor="#FFFFFF" valign="top">_CONTENT_
          <div align="center">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td width="50%"><i><font size="1">Copyright © 2002
                  Massachusetts Institute of Technology </font></i></td>
                <td width="50%" align="right"><a href="http://www.soutercomputer.com"><img border="0" src="_ROOT_images/designedbyscs.gif" width="246" height="16"></a></td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
      <tr>
        <td width="100" bgcolor="#FFFFCC">&nbsp;</td>
        <td width="5" bgcolor="#FFFFCC">&nbsp;</td>
        <td width="5" bgcolor="#FFFFFF">&nbsp;</td>
        <td width="100%" bgcolor="#FFFFFF">&nbsp;</td>
      </tr>
    </table>
  </div>
      </td>
    </tr>
  </table>
  </center>
</div>
