  <div align="center">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td width="100" bgcolor="#FFFFCC">&nbsp;</td>
        <td width="5" bgcolor="#FFFFCC">&nbsp;</td>
        <td width="5" bgcolor="#FFFFFF">&nbsp;</td>
        <td width="100%" bgcolor="#FFFFFF">&nbsp;</td>
      </tr>
      <tr>
        <td width="100" bgcolor="#FFFFCC" valign="top">
      <div align="left">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td bgcolor="#FFFFFF"><font size="2" face="Arial"><b> <a href="_ABOUT_"> About</a></b></font></td>
        </tr>
        <tr>
          <td><font face="Arial" size="2"><b><a href="_INSTALL_">Installation</a></b></font></td>
        </tr>
        <tr>
          <td><font face="Arial" size="2"><b><a href="_TUTORIALS_">Tutorials</a></b></font></td>
        </tr>
        <tr>
          <td><font face="Arial" size="2"><b><a href="_DOCUMENTATION_">Documentation</a></b></font></td>
        </tr>
        <tr>
          <td><font face="Arial" size="2"><b><a href="_BROWSE_">Browse Code</a></b></font></td>
        </tr>
        <tr>
          <td><img border="0" src="_ROOT_images/cellsizer.gif" width="100" height="1"></td>
        </tr>
      </table>
      </div>
        </td>
        <td width="5" bgcolor="#FFFFCC" valign="top">&nbsp;</td>
        <td width="5" bgcolor="#FFFFFF" valign="top">&nbsp;</td>
        <td width="100%" bgcolor="#FFFFFF" valign="top">_CONTENT_
          <div align="center">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td width="50%"><i><font size="1">Copyright © 2006
                  Massachusetts Institute of Technology </font></i></td>
                <td width="50%" align="right"><a href="http://www.soutercomputer.com"><img border="0" src="_ROOT_images/designedbyscs.gif" width="246" height="16"></a></td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
      <tr>
        <td width="100" bgcolor="#FFFFCC">&nbsp;</td>
        <td width="5" bgcolor="#FFFFCC">&nbsp;</td>
        <td width="5" bgcolor="#FFFFFF">&nbsp;</td>
        <td width="100%" bgcolor="#FFFFFF">&nbsp;</td>
      </tr>
    </tr>
  </table>
  </center>
</div>
