<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="100%">
<TR>
<TD WIDTH=65 background=_ROOT_images/topmidline2.gif><IMG
 SRC="_ROOT_images/topleft2.gif" BORDER="0"></TD>
<TD background="_ROOT_images/topmidline2.gif" width=100%><IMG
 SRC="_ROOT_images/topmidline2.gif" width=4 BORDER="0"></TD>
<TD ><IMG SRC="_ROOT_images/topright2.gif" BORDER="0"></TD>
</TR>
<TR>
<TD WIDTH=65 BGCOLOR=black><IMG SRC=_ROOT_images/pelican_th.jpg></TD>
<TD BGCOLOR=black>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH=100% BGCOLOR=black>
<TR>
<TD nowrap COLSPAN="3" ><IMG SRC="_ROOT_images/MITgcm_small_name.png" BORDER="0" ALIGN="left" VALIGN="BOTTOM"></TD>
<TD WIDTH=100%>&nbsp;</TD>
<TD bgcolor=black nowrap border=0 align="left"><FONT SIZE=-1><FORM NAME="MITgcmR1quickLinksPullDown" BORDER=0>
   <SELECT BORDER=0 name="ql" onChange="if (MITgcmR1quickLinksPullDown.ql.options[MITgcmR1quickLinksPullDown.ql.selectedIndex].value != '' )
   {window.top.location=MITgcmR1quickLinksPullDown.ql.options[MITgcmR1quickLinksPullDown.ql.selectedIndex].value}">
   <OPTION VALUE=>Quick Links</OPTION>
   <OPTION VALUE=_ABOUT_>About Release1</OPTION>
   <OPTION VALUE=_INSTALL_>Install: Getting started</OPTION>
   <OPTION VALUE=_DOWNLOAD_> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Downloading</OPTION>
   <OPTION VALUE=_COMPILATION_> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Building the code</OPTION>
   <OPTION VALUE=_RUNNING_> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Running the code</OPTION>
   <OPTION VALUE=_TUTORIALS_>Tutorials</OPTION>
   <OPTION VALUE=_BAROTROPIC_> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Barotropic gyre</OPTION>
   <OPTION VALUE=_BAROCLINIC_> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Baroclinic gyre</OPTION>
   <OPTION VALUE=_GLOBAL_> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Global ocean</OPTION>
   <OPTION VALUE=_OPEN_> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Open ocean convection</OPTION>
   <OPTION VALUE=_SHELF_> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Gravity plume</OPTION>
   <OPTION VALUE=_HELD_> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Held-Saurez atmosphere</OPTION>
   <OPTION VALUE=_DOCUMENTATION_>Documentation</OPTION>
   <OPTION VALUE=_CONTINUOUS_> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Continuous formulation</OPTION>
   <OPTION VALUE=_NUMERICAL_> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Numerical discretization</OPTION>
   <OPTION VALUE=_HORIZONTAL_> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Vector invariant equations</OPTION>
   <OPTION VALUE=_LINEAR_> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Linear advection Schemes</OPTION>
   <OPTION VALUE=_NONLINEAR_> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Non-linear advection Schemes</OPTION>
   </SELECT></TD></FORM></FONT>
</TR>
<TR>
<TD nowrap><A HREF="_HOME_"
   onMouseOver="if(document.images)
   document.templatetop8002.src='_ROOT_images/nhome_mo.gif';"
   onMouseOut="if(document.images)
   document.templatetop8002.src='_ROOT_images/nhome.gif';"
   ><IMG NAME="templatetop8002" VALIGN="BOTTOM" SRC="_ROOT_images/nhome.gif" BORDER="0" ALT="Home"></A></TD>
<TD nowrap><A HREF="_CONTACT_"
   onMouseOver="if(document.images)
   document.templatetop8003.src='_ROOT_images/ncontactus_mo.gif';"
   onMouseOut="if(document.images)
   document.templatetop8003.src='_ROOT_images/ncontactus.gif';"
   ><IMG NAME="templatetop8003" VALIGN="BOTTOM" SRC="_ROOT_images/ncontactus.gif" BORDER="0" ALT="Contact Us"></A></TD>
<TD nowrap><A HREF="_SITEMAP_"
   onMouseOver="if(document.images)
   document.templatetop8004.src='_ROOT_images/nsitemap_mo.gif';"
   onMouseOut="if(document.images)
   document.templatetop8004.src='_ROOT_images/nsitemap.gif';"
   ><IMG NAME="templatetop8004" VALIGN="BOTTOM" SRC="_ROOT_images/nsitemap.gif" BORDER="0" ALT="Site Map"></A></TD>
<TD WIDTH=100%>&nbsp;</TD>
<TD bgcolor=black nowrap border=0 align="left">
  <form action="http://google.com/search" method=get>
    <font size="-1">
      <input name=q size=20 value="">
      <input type=hidden name=domains value="mitgcm.org">
      <input type=hidden name=sitesearch value="mitgcm.org">
      <!-- <input type=submit value="Search" name="submit"> -->
      <input type=image name="srchbut" src=../images/search.gif alt="Search" align=middle border=0 height=20>
    </font>
  </form>
  <!-- EH3 : the following is the old/broken the search method
  <form action="/cgi-local/htsearch" method="POST" name="SearchFrm" valign=top>
   <font size="-1">
    <input type="hidden" name="exclude" value="">
    <input type="hidden" name="method" value="and">
    <input type="hidden" name="format" value="builtin-long">
    <input type="hidden" name="sort" value="score">
    <input type="hidden" name="config" value="htdig">
    <input type="hidden" name="restrict" value="http://mitgcm.org/sealion/">
    <input type="text" name="words" size=16>
    <input type="image" name="srchbut" src=_ROOT_images/search.gif alt="Search" align=middle border=0 height=20>
   </font>
  </form>
   -->
   </TD>
</TR></TABLE></TD>
<TD BGCOLOR=black width=65>&nbsp;</TD>
</TR>
<TR>
<TD background=_ROOT_images/bottommidline2.gif><IMG
 SRC="_ROOT_images/bottomleftcorner2.gif" BORDER="0"></TD>
<TD background="_ROOT_images/bottommidline2.gif"><IMG
 SRC="_ROOT_images/bottommidline2.gif" width=4 BORDER="0"></TD>
<TD ><IMG SRC="_ROOT_images/bottomrightcorner2.gif" BORDER="0"></TD>
</TR>
</TABLE>

